.game-box {
  width: 416px;
  height: 650px;
  background-color: #192a32;
  border-radius: 43px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.85) 6px 8px 10px;
  margin-bottom: 50px;
}
.game-box .symbol {
  position: absolute;
  top: 105px;
}
@keyframes slide-text {
  0% {
    left: 11rem;
  }
  100% {
    left: 3.5rem;
  }
}
.game-box .game-over-box {
  background-color: rgba(0, 0, 0, 0.73);
  position: absolute;
  z-index: 5;
}
.blur-bg {
  width: 408px;
  height: 640px;
  margin-top: 5px;
  background-color: #192a32;
  border-radius: 43px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  margin-bottom: 50px;
}
